.hp-secret-code {
	display: flex;
	color: rgb(215, 211, 241);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	button {
		margin-top: 10px;
	}

	input,
	button {
		font-size: 1.7rem;
	}
}
