<ng-container *ngIf="!busy">
	<h2>Enter secret code</h2>
	<form autocomplete="on">
		<mat-form-field appearance="fill">
			<input name="secretCode" id="parkssonSecretCode" type="text" [(ngModel)]="secretCode"
				(keyup.enter)="setSecretAndGo()" matInput required autocomplete="on" />
		</mat-form-field>
		<re-captcha *ngIf="!isRecaphaSolved" id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token"
			required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>

		<button type="submit" (click)="setSecretAndGo()" mat-raised-button color="primary">Enter</button>
	</form>
</ng-container>

<mat-progress-spinner mode="indeterminate" *ngIf="busy"> </mat-progress-spinner>