.hp-user-chooser {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	h2,
	select,
	input,
	button,
	label {
		margin-top: 10px;
	}

	input {
		margin-top: 0;
	}

	input,
	button {
		font-size: 1.7rem;
	}

	select,
	option {
		font-size: 1.1rem;
	}

	label {
		font-size: 1.1rem;
	}

	& &-users {
		padding-top: 0;
	}

	mat-form-field {
		width: 70%;
	}

	@media (min-width: 768px) {
		mat-form-field {
			width: 50%;
		}
	}
}
