.hp-user-chooser {
	display: flex;
	color: rgb(215, 211, 241);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	& > * {
		margin-top: 10px;
	}

	input {
		margin-top: 0;
	}

	input,
	button {
		font-size: 1.7rem;
	}

	select,
	option {
		font-size: 1.1rem;
	}

	label {
		font-size: 1.1rem;
	}
}
