<div class="week-table">
  <div class="day-head">
    <div
      *ngFor="let date of dates"
      class="day"
      [ngClass]="{ today: date.today }"
    >
      <h2>
        {{ date.date | date: "EEEE, MMMM d" }}
      </h2>
    </div>
  </div>
  <form class="slot-form">
    <div
      *ngFor="let date of dates; index as i"
      class="day"
      [ngClass]="{ today: date.today }"
    >
      <div class="slot-form">
        <input type="radio" id="{{ i * 10 + 1 }}" />
        <label [attr.for]="i * 10 + 1">Hubsson 1</label>
      </div>
    </div>
  </form>
</div>
