/* You can add global styles to this file, and also import other style files */
html {
	background-color: rgb(33, 32, 43);
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

button {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
	padding: 10px;

	&:focus {
		box-shadow: 0 0 0 0.2rem rgb(52 58 64 / 50%);
	}

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
		&:active {
			color: #fff;
			background-color: #1d2124;
			border-color: #171a1d;
		}
	}

	&:hover {
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
	}

	&.disabled,
	&:disabled {
		opacity: 0.65;
	}
}
