@use "@angular/material" as mat;
@use "./app/parking/parking.theme" as parking-theme;

/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}

body {
	margin: 0;
}

button {
	padding: 10px;

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 900);
$accent: mat.define-palette(mat.$blue-gray-palette, 800);

$default-theme: mat.define-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
		),
	)
);

$form-field-primary: mat.define-palette(mat.$blue-palette, 500);
$form-field-accent: mat.define-palette(mat.$blue-gray-palette, 400);
$form-field-theme: mat.define-dark-theme(
	(
		color: (
			primary: $form-field-primary,
			accent: $form-field-accent,
		),
	)
);

@include mat.all-component-themes($default-theme);
@include mat.form-field-theme($form-field-theme);
@include parking-theme.hp-parking-theme($default-theme);
