<div class="hp-parking-day-head">
	<mat-card
		*ngFor="let day of days; index as dayIndex"
		class="hp-parking-day-card"
		[ngClass]="{
			cancellable: isDayCancellable(day),
			active: chosenDayIndex === dayIndex
		}"
		[matBadge]="getFreeSlotNumberForDay(day)"
		(click)="chooseDay(dayIndex)"
	>
		<mat-card-content>
			<p>
				{{ day.date | date: "EEEE, MM.d" }}
			</p>
		</mat-card-content>
	</mat-card>
</div>
<div class="hp-parking-content">
	<div class="hp-parking-parking-slots">
		<ng-container *ngFor="let parkingSlot of parkingSlots">
			<mat-card
				*ngIf="isSlotFree(parkingSlot.id); else slotTaken"
				class="hp-parking-parking-slot-card"
				[ngClass]="{
					pending: isSlotPending(parkingSlot.id)
				}"
				(click)="takeParkingSlot(parkingSlot.id)"
			>
				<mat-card-title>{{ parkingSlot.name }}</mat-card-title>
			</mat-card>
			<ng-template #slotTaken>
				<mat-card
					[ngClass]="{
						cancellable: isSlotCancellable(parkingSlot.id),
						pending: isSlotPending(parkingSlot.id)
					}"
					class="hp-parking-parking-slot-card taken"
					(click)="cancelReservation(parkingSlot.id)"
				>
					<mat-card-title>
						<mat-icon
							*ngIf="
								parkingSlot.id !== '0' && parkingSlot.id !== '1' && isSlotCancellable(parkingSlot.id)
							"
							svgIcon="address-card"
							aria-hidden="false"
							aria-label="View badge"
							class="badge-icon"
							(click)="openBadge($event, parkingSlot.id)"
						></mat-icon>
						{{ parkingSlot.name }}</mat-card-title
					>
					<mat-card-subtitle>
						{{ getReserverText(parkingSlot.id) }}
					</mat-card-subtitle>
				</mat-card>
			</ng-template>
		</ng-container>
	</div>
	<div class="hp-parking-content-footer">
		<div class="hp-parking-submit-group">
			<button (click)="onSave()" [disabled]="isSaveDisabled()" mat-raised-button color="primary">
				Save <span>({{ newReservationsCount }})</span>
			</button>
			<span>
				Saving as <b>{{ selectedUser.name }} {{ selectedUser.plate }}</b>
			</span>
		</div>
		<button (click)="clearUser()" class="hp-parking-logout" mat-raised-button color="accent">Logout</button>
	</div>
</div>
