.hp-parking {
	display: flex;
	color: rgb(215, 211, 241);

	.week-table {
		display: flex;
		flex-direction: column;
		margin: 24px;
		overflow-x: hidden;
	}

	&-day-head {
		display: flex;
		flex-direction: row;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		overflow-x: scroll;
	}

	& &-day-card {
		min-width: 64px;
		max-width: 64px;
		min-height: 64px;
		max-height: 64px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-right: 8px;
	}

	&-parking-slot {
		margin-top: 16px;
	}

	.submit-group {
		display: flex;
		align-items: center;
		margin: 15px 0;

		p {
			margin-left: 12px;
			font-size: 1.2rem;
		}
	}

	button {
		width: fit-content;
		font-size: 1.6rem;
		margin-bottom: 10px;
	}

	@media (min-width: 768px) {
		.parking-slot-form-slot-form-group {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}
