.hp-parking {
	display: flex;
	color: rgb(215, 211, 241);

	.week-table {
		display: flex;
		flex-direction: column;
		margin: 24px;
	}

	.parking-slot-form {
		display: flex;

		&-slot {
			display: flex;
			flex-direction: column;
			font-size: 1.4rem;
			height: 3.6rem;
			align-items: baseline;
			min-width: inherit;
			max-width: inherit;
			margin-bottom: 5px;

			&-name.free::after {
				content: "|";
				color: rgba(144, 238, 144, 0.4);
				display: inline-block;
				font-size: 1.6rem;
				margin-left: 3px;
				vertical-align: bottom;
			}

			&-name:not(.free)::after {
				content: "|";
				color: rgba(241, 28, 28, 0.4);
				display: inline-block;
				font-size: 1.6rem;
				margin-left: 3px;
				vertical-align: bottom;
			}

			&-form-group {
				line-height: 2.1rem;

				& > * {
					cursor: pointer;
				}

				& .cancellable::after {
					content: "\2716";
					color: rgba(241, 28, 28, 0.4);
					display: inline-block;
					font-size: 1.6rem;
					margin-left: 3px;
					vertical-align: bottom;
				}
			}

			&-reserver {
				font-size: 0.7rem;
				line-height: 0.8rem;
				padding-left: 18px;
				text-align: left;
			}
		}

		.day {
			align-items: flex-start;
		}
	}

	.day-head {
		display: flex;
		border-bottom: 2px solid gray;
		background-color: rgb(33, 32, 43);
		position: sticky;
		position: -webkit-sticky;
		top: 0;
	}

	.day {
		display: flex;
		flex-direction: column;
		border-right: 2px solid gray;
		min-width: 150px;
		max-width: 150px;
		align-items: center;
		text-align: center;
	}

	.submit-group {
		display: flex;
		align-items: center;
		margin: 15px 0;

		p {
			margin-left: 12px;
			font-size: 1.2rem;
		}
	}

	button {
		width: fit-content;
		font-size: 1.6rem;
		margin-bottom: 10px;
	}

	@media (min-width: 768px) {
		.day {
			min-width: 140px;
			max-width: 140px;
		}

		.parking-slot-form-group {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}
