@use "sass:map";
@use "@angular/material" as mat;

@mixin hp-parking-theme($theme) {
	$color-config: mat.get-color-config($theme);

	$primary-palette: map.get($color-config, "primary");
	$accent-palette: map.get($color-config, "accent");

	.hp-parking {
		&-day-card.active,
		&-parking-slot-card.cancellable {
			background-color: mat.get-color-from-palette($primary-palette, 500);
		}

		&-day-card {
			.mat-badge-content {
				background-color: mat.get-color-from-palette($accent-palette, 600);
			}
		}

		&-parking-slot-card.pending {
			background-color: mat.get-color-from-palette($primary-palette, 900);
		}
	}
}
